.App {
  font-family: sans-serif;
  text-align: center;
}

.App input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 80px); /* Adjust width as needed */
  margin-right: 10px;
}

.btn-mark {
  padding: 0; /* Remove padding */
  border: none;
  background-color: transparent; /* Transparent background */
  cursor: pointer; /* Keep cursor as pointer */
  font-size: 18px; /* Adjust font size as needed */
}


.todo-list {
  /* Styles for the entire list (optional) */
  padding: 0;
  margin: 0;
}

.todo-item {
  /* Styles for individual list items */
  list-style: none; /* Remove default bullet points for unordered lists */
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.btn-empty {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f00; /* Adjust color as needed */
  color: white;
  cursor: pointer;
  margin: auto 0; 
}


