.Application {
  font-family: sans-serif;
  text-align: center;
}

.todo-list {
  /* Styles for the entire list (optional) */
  padding: 0;
  margin: 0;
}

.todo-item {
  /* Styles for individual list items */
  list-style: none; /* Remove default bullet points for unordered lists */
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.btn-empty {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f00; /* Adjust color as needed */
  color: white;
  cursor: pointer;
  margin: auto 0; 
}


