body {
  font-family: sans-serif;
  margin: 0; /* Remove default body margin */
  background-color: #f5f5f5;
}

header.Header {
  text-align: center;
  color: #230f0f;
}


.todo-list-container {
  width: 100%;
  margin: 20px auto;
}

.todo-input-container {
  padding: 10px;
  display: block;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.todo-input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Increase input font size slightly */
  width: calc(100% - 80px); /* Adjust width as needed */
  margin-right: 10px;
}

.todo-input-container button {
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer; /* Indicate clickable button */
  transition: background-color 0.2s ease-in-out; /* Add smooth hover effect */
}

.todo-input-container button:hover {
  background-color: #3e8e41; /* Change background color on hover */
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer; /* Indicate clickable todo items */
}

.todo-item.completed {
  text-decoration: line-through;
  color: #aaa; /* Gray out completed tasks */
}

.empty-message {
  text-align: center;
  font-style: italic;
  color: #ccc; /* Lighten empty message color */
}

.btn-container {
  display: flex;
  justify-content: space-between; /* Space buttons evenly */
  margin-top: 20px;
}

.btn-remove,
.btn-empty {
  margin: 2px auto;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-remove {
  background-color: #f44336; /* Red color for removal button */
  color: white;
}

.btn-remove:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

.btn-empty {
  background-color: #3f51b5; /* Blue color for empty button */
  color: white;
}

.btn-empty:hover {
  background-color: #283776; /* Darker blue on hover */
}
